@model Calculadora
<form asp-controller="Calculadora" asp-action="Calcular">
    <label asp-for="Operador1" class="control-label"></label>
    <input asp-for="Operador1" class="form-control" />

    <label asp-for="Operador2" class="control-label"></label>
    <input asp-for="Operador2" class="form-control" />

    <label asp-for="Operando" class="control-label"></label>
    <input asp-for="Operando" class="form-control" />


    <div class="form-group">
        <button type="submit"   class="btn btn-primary"> Calcular </button>
    </div>

</form>

<h1> @ViewData["Resultado"] </h1>